h2 {
  width: 80%;
  margin:20px auto;
}

.table-data {
  border: 1px #EAEAEA;
  width: 80%;
  margin:20px auto;
}

.table-data th {
  background-color: #EAEAEA;
}

.table-data td {
  padding: 2px;
  border-bottom: #333 1px dotted;
}
